/* CSS Document */

@font-face {
	font-family: 'BebasNeueRegular';
	src: url('fonts/bebas-neue-fontfacekit/BebasNeue-webfont.eot');
	src: url('fonts/bebas-neue-fontfacekit/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/bebas-neue-fontfacekit/BebasNeue-webfont.woff') format('woff'),
	url('fonts/bebas-neue-fontfacekit/BebasNeue-webfont.ttf') format('truetype'),
	url('fonts/bebas-neue-fontfacekit/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DroidSansRegular';
	src: url('fonts/Droid-Sans-fontfacekit/DroidSans-webfont.eot');
	src: url('fonts/Droid-Sans-fontfacekit/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/Droid-Sans-fontfacekit/DroidSans-webfont.woff') format('woff'),
	url('fonts/Droid-Sans-fontfacekit/DroidSans-webfont.ttf') format('truetype'),
	url('fonts/Droid-Sans-fontfacekit/DroidSans-webfont.svg#DroidSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DroidSansBold';
	src: url('fonts/Droid-Sans-fontfacekit/DroidSans-Bold-webfont.eot');
	src: url('fonts/Droid-Sans-fontfacekit/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/Droid-Sans-fontfacekit/DroidSans-Bold-webfont.woff') format('woff'),
	url('fonts/Droid-Sans-fontfacekit/DroidSans-Bold-webfont.ttf') format('truetype'),
	url('fonts/Droid-Sans-fontfacekit/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
