/* ========= PRIMARY COLOR ========== */
.color-primary {
color:#fa3dad!important;
}
.bg-primary {
background-color:#fa3dad!important;
}
.outline-icon:hover {
background-color:#fa3dad;
border:solid 2px #fa3dad;
}
.blog-wrapper .read-more {
color:#fa3dad;
}
.img-thumb .img-thumb-hover-left:hover i,.img-thumb .img-thumb-hover-right:hover i,.img-thumb .img-thumb-hover i:hover {
background-color:#fa3dad;
border:2px solid #fa3dad;
}
#carousel .carousel-control:hover {
border:2px solid #fa3dad;
background-color:#fa3dad;
}
.scrollup:hover {
background-color:#fa3dad;
}
#pricing .col-md-4:hover .pricing-table-header {
background-color:#fa3dad;
}
#pricing .col-md-4:hover .pricing-table-features li:last-child {
background-color:#fa3dad;
}
#isotope-filter li a {
background-color:#fa3dad;
}
.counter {
color:#fa3dad;
}
.pagination > li > a:hover,.pagination > li > span:hover,.pagination > li > a:focus,.pagination > li > span:focus {
background-color:#fa3dad;
border-color:#fa3dad;
}
.pagination > .active > a,.pagination > .active > span,.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus {
background-color:#fa3dad;
border-color:#fa3dad;
}
.pagination > .active > a,.pagination > .active > span,.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus {
background-color:#fa3dad;
border-color:#fa3dad;
}
.nav-tabs > li.active > a,.nav-tabs > li.active > a:hover,.nav-tabs > li.active > a:focus {
color:#fa3dad;
}
#accordion .panel a.selected .panel-heading {
background-color:#fa3dad;
}
.nav-tabs#tabs > li.active > a {
border-bottom:3px solid #fa3dad;
}
/* ===== SHORTCODE ICON DEMO ===== */
.shortcode-icon-demo i {
color:#fa3dad;
}
.btn-primary {
background-color:#fa3dad;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {
background-color:#fa3dad;
}
.btn-primary.btn-outline,a.btn-primary.btn-outline:link,a.btn-primary.btn-outline:visited {
border:2px solid #fa3dad;
color:#fa3dad;
}
.btn-primary.btn-outline:hover,.btn-primary.btn-outline:active,.btn-primary.btn-outline:focus,a.btn-primary.btn-outline:hover,a.btn-primary.btn-outline:active,a.btn-primary.btn-outline:focus {
border:2px solid #fa3dad;
background-color:#fa3dad;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #fa3dad;
border-color: #fa3dad;
}
.navbar-default .navbar-brand {
background-color:#fa3dad;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li.active > a:hover {
color:#fa3dad;
border-bottom:4px solid #fa3dad;
}
.navbar-default .navbar-nav > li.active > a:focus {
color:#fa3dad;
border-bottom:4px solid #fa3dad;
}
.dropdown-menu > li:hover > a, .dropdown-menu > li > a:hover {
color:#fa3dad;
}
.tparrows:hover {
background-color: #fa3dad;
border: solid 2px #fa3dad;
}
/* ========= SECONDARY COLOR ========== */
.color-secondary {
color:#4FC3CC!important;
}

.bg-secondary {
background-color:#4FC3CC!important;
}
.blog-wrapper .read-more:hover {
color:#4FC3CC;
}
.social-icons i:hover {
border-color:#4FC3CC;
color:#4FC3CC;
}
#sidebar a.tag:hover {
background-color:#4FC3CC;
}
.footer i:hover {
border-color:#4FC3CC;
color:#4FC3CC;
}
blockquote {
border-left:4px solid #4FC3CC;
}
a:active,a:hover {
color:#4FC3CC;
}
.btn-secondary {
background-color:#4FC3CC;
}

.btn-secondary:hover,.btn-secondary:focus,.btn-secondary:active,.btn-secondary.active,.open .dropdown-toggle.btn-secondary {
background-color:#4FC3CC;
}
.btn-secondary.btn-outline,a.btn-secondary.btn-outline:link,a.btn-secondary.btn-outline:visited {
border:2px solid #4FC3CC;
color:#4FC3CC;

}

.btn-secondary.btn-outline:hover,.btn-secondary.btn-outline:active,.btn-secondary.btn-outline:focus,a.btn-secondary.btn-outline:hover,a.btn-secondary.btn-outline:active,a.btn-secondary.btn-outline:focus {
border:2px solid #4FC3CC;
background-color:#4FC3CC;
}