/* =================================  */
/* =========== MENU STYLES ===========  */
/* =================================  */

/* ===== START NAVIGATION MENU ===== */
.navbar-default .navbar-brand:hover {
padding-left: 40px;
-webkit-transition: all 0.35s;
-moz-transition:  all 0.35s;
-o-transition:  all 0.35s;
transition:  all 0.35s;
}
.navbar-toggle {
margin-top: 10px;
border-radius: 60px;
font-size: 18px;
line-height: 1;
padding: 10px 8px;
color: #FFF;
border: 0;
text-align: center;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #55B8B7;
color: #FFF;
border-color: #55B8B7;
}
.navbar-nav {
margin: 0;
}
.navbar-default {
font-family:'Open Sans', sans-serif;
font-weight: 700;
font-size: 14px;
background-color: #FFF;
border: 0;
border-radius: 0;
height: 60px;
margin: 0;
-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
 -webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}
.navbar-default .navbar-brand {
-webkit-transition: all 0.35s;
-moz-transition:  all 0.35s;
-o-transition:  all 0.35s;
transition:  all 0.35s;
font-weight:800;
color:#FFF !important;
background-color:#FFF;
height: 60px;
padding-left: 20px;
padding-right: 24px;
padding-top: 14px;
font-size:18px;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li.dropdown > a:focus {
position: relative;
padding-top: 23px;
padding-bottom: 19px;
padding-right: 20px;
padding-left: 20px;
line-height: 1;
text-transform: uppercase;
background-color:#FFF;
color: #646265;
border-bottom:4px solid #FFF;
z-index: 1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li.active > a:hover {
background-color:#FFF;
color:#55B8B7;
border-bottom:4px solid #55B8B7;
}
.navbar-default .navbar-nav > li.active > a:focus {
background-color:#FFF;
color:#55B8B7;
border-bottom:4px solid #55B8B7;
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    overflow-x: visible;
    border-top: medium none;
    box-shadow: none;
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
  opacity: 1;
 top: 0;
 position: fixed;
}
.dropdown-menu {
box-shadow: none;
font-size: 11px;
border-radius: 0;
background-color:#2f3640;
color: #FFF;
border-top: none;
z-index: 1;
padding: 0;
margin: 0;
}
.dropdown-menu > li > a {
padding:10px 20px;
    color: #FFF;
font-weight: 700;
text-transform: uppercase;
background-color:#2f3640;
}
.dropdown-menu > li:hover > a, .dropdown-menu > li > a:hover {
background-color:#2f3640;
color:#55B8B7;
}
/* ========== MENU WILL DROP ON HOVER FOR LARGE SCREENS ========== */
@media (min-width: 991px)
 {
 .dropdown .dropdown-menu {
display: block;
visibility:hidden;
    opacity: 0; 
    height: 0;
    overflow: hidden;
	transition-property:opacity;
transition-duration: .25s;
transition-delay: .25s;
    float: right !important;
  }
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}

@media (min-width: 768px) {
.navbar .container {
  width: 100%;
  }
}
@media (min-width: 992px) {
.navbar .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
.navbar .container {
    width: 1170px;
  }
}
